* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 300px;
}

.frase {
    display: flex;
    margin: 10px 10px;
    width: 221px;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
}

.matematica {
    display: flex;
    margin: 10px 10px;
    width: 80px;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
}