.test {
    margin-bottom: 10px;
    font-weight: bolder;
    margin-left: 10px;
    color: rgba(214, 224, 220, 0.932);
    background-color: darkred;
    width: 8rem;
    text-align: center;
}

.text {
    margin-bottom: 10px;
    font-weight: bold;
    margin-left: 10px;
    color: rgb(15, 4, 4);
    background-color: dodgerblue;
    width: 8rem;
    text-align: center;
}