* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
    background-color: darkslategray;
}

.cabecalho {
    width: 100%;
    margin: 20px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    color: red;
}

input {
    margin-left: 8px;
    border-radius: 10px;
    padding: 3px;
    width: 100px;
}

label {
    margin: 15px;
    color: red;
}

button {
    border-radius: 5px;
    text-align: right;
    margin-top: 5px;
    width: 80px;
    text-align: center;
    color: red;
    font-weight: bold;
}

p {
    font-weight: bold;
    margin: 15px;
}

p span {
    text-transform: uppercase;
    margin: 0 3px;
    color: red;
}

.resultado {
    font-weight: bold;
    margin: 15px;
}
.resultado p {
    color: blue;
    font-size: 25px;
}
